{# Contient la liste des produits ainsi qu'un menu de tri pour tout afficher ou trier par catégorie (sous forme de tableau),
sélection multiple pour SUPPRESSION UNIQUEMENT possible #}
{% extends 'BO/BObase.html.twig' %}


{% block title %}Liste des Commandes
{% endblock %}

{% block body %}
	
	<table class="min-w-full p-5 bg-white border border-gray-600">
		<thead>
			<tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal border border-gray-600">
				
			</tr>
		</thead>
		<tbody class="text-gray-600 text-sm font-light">
			
				<tr class="border-b border-gray-600 hover:bg-gray-100">
					
				</tr>
			
		</tbody>
	</table>
  
{% endblock %}

