<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% include 'header.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% include 'footer.html.twig' %}
    </body>
</html>
