<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body class="bg-gray-100 text-center">
        <h1 class="text-3xl font-bold text-blue-500">
            Tailwind CSS fonctionne !
        </h1>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
