    <footer>
        <p>&copy; 2024 NewVet</p>
    </footer>
    {% block javascripts %}
        {# Ajouter fichiers JavaScript ici #}
        <script></script>
    {% endblock %}
    </footer>
</body>
</html>
