/* Footer collant sur les téléphones uniquement */
@media (max-width: 767px) {
    footer {
        position: fixed;
        position: sticky;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 999; /* au dessus des autres éléments */
        .md\:hidden {
            display: none !important;
        }
        .md\:flex {
            display: flex !important;
        }
    }

        /* Centrer menu hamburger */
        #burger-menu {
            position: absolute;
            right: 45%;
        }
}
/* Texte bordures noires */
.text-border-black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



.radio-container {
    display: flex;
    align-items: center;
}

.radio-container label {
    margin-right: 10px; /* Espace entre le label et le bouton radio */
    margin-bottom: 0; /* Pour s'assurer que le label est bien aligné verticalement */
}

.radio-container input[type="radio"] {
    margin-top: 0; /* Supprimez le décalage par défaut si nécessaire */
}